mixin boom
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 280 280">
    <g fill="none" fill-rule="evenodd">
      <circle class="stroke" stroke-width="21.816" cx="140" cy="140" r="129.092"/>
      <path class="fill" d="M132.449 187H96V93H156.6775c12.1512 0 22.213 9.4382 22.9895 21.5647l.3316 5.1808c.5435 8.4878-5.8967 15.809-14.3845 16.3524-.3276.021-.6558.0315-.984.0315h-16.0906 16.669c10.9352 0 19.8 8.8648 19.8 19.8 0 .5007-.019 1.0011-.057 1.5003l-.3142 4.135C183.5469 175.9137 171.586 187 157.1957 187H132.449zm-1.1045-37.6v12.1647h10.4853c3.3592 0 6.0824-2.7232 6.0824-6.0823 0-3.3592-2.7232-6.0824-6.0824-6.0824h-10.4853zm0-28.753v8.8471h9.9351c2.443 0 4.4235-1.9805 4.4235-4.4235 0-2.443-1.9804-4.4235-4.4235-4.4235h-9.9351z"/>
    </g>
  </svg>