.releases {
  padding-bottom: 24px;

  @media(--sm) {
    padding-bottom: 32px;
  }

  @media(--md) {
    padding-bottom: 40px;
  }

  @media(--lg) {
    padding-bottom: 48px;
  }
}

.releases__row {
  @include row();
  margin-bottom: -32px;
}

.releases__col {
  @include col();

  @media(--sm) {
    @include col-width(1/2);
  }

  @media(--md) {
    @include col-width(1/3);
  }

  @media(--lg) {
    @include col-width(1/4);
  }
}