mixin logo
  a(href="/")#logo.logo
    div.logo__img
    div#logo-img-shifted(style="opacity: 0")
      .logo__img.logo__img--shifted
    div#logo-img-shifted-alt(style="opacity: 0")
      .logo__img.logo__img--shifted.logo__img--shifted-alt