mixin logo
  a(href="/")#logo.logo
    div.logo__img
    div#logo-img-shifted.logo__img.logo__img--shifted(style="opacity: 0")
    div#logo-img-shifted-alt.logo__img.logo__img--shifted.logo__img--shifted-alt(style="opacity: 0")