/* COLORS */

$c-bg: #000000;
$c-font: #D8D8DD;

$c-focus: rgba(220, 220, 255, 0.15);
$c-alt: rgba(220, 220, 255, 0.25);


/* TYPOGRAPHY */

$t-font: Arial, sans-serif;


/* GRID */

$g-gutter: 16px;


/* MEDIA */

@custom-media --xs (width < 500px);
@custom-media --sm (width >= 500px);
@custom-media --md (width >= 768px);
@custom-media --lg (width >= 992px);
@custom-media --xl (width >= 1200px);
@custom-media --retina (min-resolution: 1.5dppx);

/* TRANSITIONS */

$t-duration: 200ms;