.thumbnail {
  display: block;
  transition: transform $t-duration, opacity $t-duration, filter $t-duration;
  margin-bottom: 32px;

  &:hover {
    transform: scale(1.05);
    opacity: 0.3;
  }
}

.thumbnail__img {
    display: block;
    width: 100%;
    
    cursor: pointer;
  }

.thumbnail__wrap {
  overflow: hidden;
  outline: 1px solid rgba(255, 255, 255, 0.07);
}