include /blocks/logo/logo
include /blocks/socials/socials

mixin header
  header.header
    .header__logo
      +logo
    .header__socials
      +socials
      

  //- .container
    .row
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a2469850020_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a1357620049_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a3261460823_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a3981837875_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a0378381368_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a3859989539_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a3849509956_16.jpg")
      .test: .test__wrap
        img(src="https://f4.bcbits.com/img/a0155950890_16.jpg")
      .test2
        iframe(src="https://open.spotify.com/embed/album/2g8SZDxHq9getMFfhi85HL" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media").spotify